<!-- include header -->
<%-include('include/_header')%>
<!-- /include header -->

<!-- Main Site -->
<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex justify-between">
      <div class="filter">
        <a href="/"><i class="fas fa-angle-double-left"></i>All Users</a>
      </div>
    </div>
    <div class="form-title text-center">
      <h2 class="text-dark">Update User</h2>
      <span class="text-light">Use the below form to update an account</span>
      <!-- update user form -->

      <!-- form handling -->
      <form action="#" method="POST" id="update_user">
        <div class="new_user">
          <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="text" name="name" id="name" value="" placeholder="Mark Stoenis" />
          </div>

          <div class="form-group">
            <label for="email" class="text-light">Email</label>
            <input type="text" name="email" id="email" value="" placeholder="example@gmail.com" />
          </div>

          <div class="form-group">
            <label for="gender" class="text-light">Gender</label>
            <div class="radio inline">
              <input type="radio" name="gender" id="male" value="Male" />
              <label for="male" class="radio-label">Male</label>
            </div>
            <div class="radio inline">
              <input type="radio" name="gender" id="female" value="Female" />
              <label for="female" class="radio-label">Female</label>
            </div>
          </div>

          <div class="form-group">
            <label for="status" class="text-light">Status</label>
            <div class="radio inline">
              <input type="radio" name="status" id="active" value="Active" />
              <label for="active" class="radio-label">Active</label>
            </div>
            <div class="radio inline">
              <input type="radio" name="status" id="inactive" value="Inactive" />
              <label for="inactive" class="radio-label">Inactive</label>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
          </div>
        </div>
      </form>
      <!-- /form handling -->

      <!-- /update user form -->
    </div>
  </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%-include('include/_footer')%>
<!-- /include footer -->